:root {
    --background-oscuro: rgb(29, 40, 77) ;
    --texto-blanco: rgb(232, 232, 232);
    --texto-gris: rgb(181, 181, 181);
}

/*----------------COLOR DEL FONDO/BODY-----------------*/
.body-bg{
    background-color: #020414;
}

/*----------------COLOR DEL NAV-----------------*/
.nav-bg{
    background-color: var(--background-oscuro);
}

.header-main{
    min-height: 100vh;
}
.icon-toggler{
    height: 40px;
    width: 40px;
}

/*----------------EFECTO DE IMAGEN-----------------*/
.image-bg{
    position: relative;
    align-items: center;
}

.image-bg::before {
    content: "";
    height: 110%;
    width: 58%;
    background-color: var(--background-oscuro);
    position: absolute;
    left: -7%;
    z-index: -5;
    top: -5%;
}

/*----------------HABILIDADES TECNICAS-----------------*/
.width-skill-container{
    width: 100vh;
}
.width-skill{
    width: 100vh;
}

.height-skill{
    height: 50vh;
}

.height-skill-item{
    height: 12rem;
}

.width-skill-item{
    width: 20rem;
}

.margen-skill-item{
    margin: 10px;
}

/*----------------LISTA SKILLS-----------------*/
.margen-h5{
    margin-top: 2rem;
}

.height-h5{
    height: 20%;
}
.height-ul{
    height: 80%;
}

/*----------------COLOR FONDO TARJETAS HABILIDADES-----------------*/
.skill-bg {
    background-color: #323f42;
}

/*----------------PROYECTOS -----------------*/
/*----------------ALTURA DE CARD -----------------*/
.height-card{
    height: 11rem;
}

.article-bg{
    background-color: var(--background-oscuro);
}
.width-card{
    width: 23rem;
}

/*----------------ELEMENTOS DE LAS TARJETAS -----------------*/

.height-h3{
    height: 30%;
}

.height-p{
    height: 40%;
}

.height-btn{
    height: 30%;
}

/*----------------NAV FOOTER-----------------*/
.nav-f{
    width: 50%;
}

/*----------------COLOR DE FONDO NAV FOOTER-----------------*/
.nav-bg-f{
    background-color: var(--background-oscuro);
}


/*----------------ESTILOS DEL TEXTO--------------------------*/
@font-face {
    font-family: fuente-titulo;
    src: url(Fuente-titulos.otf);
}

@font-face {
    font-family: fuente-parrafo;
    src: url(LiberationMono-Regular.ttf);
}


.text-t{
    color: var(--texto-blanco);
    font-family: 'Lucida Sans', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 3rem;
}

.text-p{
    font-family: 'Franklin Gothic Medium';
    font-size: 1.2rem;
    text-align: justify;
}
.text-blanco{
    color: var(--texto-blanco) ;
}
.text-gris{
    color: var(--texto-gris);
}

.text-container-datos{
    line-height: 2.5rem;
}

.text-items-datos{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1rem;
    text-align: left;
}
.text-datos{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 0.9rem;
    letter-spacing: 0.1rem;
}

.text-nav{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1rem;
    letter-spacing: 0.1rem;
}

.text-nav-f{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: .9rem;
    letter-spacing: 0.1rem;
    color: #020414;
}

.iconoGrande{
    width: 1.2rem;
    height: 1.2rem;
}
.iconoChico {
    width: 1.7rem;
    height: 1.7rem;
}
.text-iconos{
    line-height: 1.9rem;
}


/*-----RESPONSIVE-------*/

@media screen and (max-width: 425px){
    body {
        margin-top: 6rem;
    }

    .image-s{
        margin-left: 6rem;
    }
    
    .text-t{
        font-size: 1.2rem;
    }

    .text-p{
        font-size: 1rem;
    }

    .text-items-datos{
        display: none;
    }

    .text-datos{
        font-size: .8rem;
    }

    .skill-s{
        margin-left: 1rem;
    }
    .widht-nav-f{
        width: 100%;
        margin-left: 1rem;
        margin-right: 2rem;
    }

    .text-t-s{
        font-size: 1.5rem;
    }

    .text-st-s{
        font-size: 1.4rem;
    }

    .text-sk-s{
        font-size: 0.9rem;
    }

    .text-nav{
        font-size: 1.2rem;
    }
    .header-main{
        max-height: 750px;
        margin-bottom: 50px;
    }

}


@media screen and (max-width: 768px){
    body {
        margin-top: 6rem;
    }
    .nav-bg-offcanvas{
        background-color: #020414;
    }
    .nav-height-offcanvas {
        height: 330px;
    }
}

@media screen and (max-width: 992px){
    body {
        margin-top: 6rem;
    }
}

/*-----------------FORM---------------------*/

.section-project {
    height: 100vh;
}

.article-h {
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.text-blanco a {
    text-decoration: none;
    color: var(--texto-blanco);
    font-size: 1.5em;
}

.text-blanco a:hover {
    color: var(--texto-gris);
}

.proyectos {
    margin-left: 20px;
    margin-right: 20px;
}
